<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSA Learning</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {%include 'navbar.html'%}

    <!-- Header Section -->
    <header class="jumbotron text-center">
        <h1 class="display-4">Welcome to my DSA Learning</h1>
        <p class="lead">Here I uploded my Data Structures and Algorithms learnings with comprehensive solutions.</p>
        <a class="btn btn-primary btn-lg" href="devanshkasaudhan.me" role="button">My Portfolio</a>
    </header>

    <!-- {{questions | safe}}}} -->

    <div class="container">
        <div class="row">
            {% for question in questions %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ question[1] }}</h5>
                        <p class="card-text">{{ question[2] }}</p>
                        <a href="/questions/{{ question[0] }}" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    
    {% include 'footer.html'%}

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
